<!DOCTYPE html>
<html>

<head>



  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 5px;
      text-align: left;
    }
  </style>
</head>

<body>



  <table style="width:100%">
    <tr>
      <td></td>
      <td>A</td>
      <td>B</td>
      <td>C</td>
      <td>D</td>
      <td>E</td>
      <td>F</td>
      <td>G</td>
      <td>H</td>

    </tr>

    <tr *ngFor="let item of items; let i=index">
     <td>Office{{i}} </td> 
     <td class="collection-item">
        <mat-form-field>
            <mat-select [(value)]="item.A">
              <mat-option (click)="click('A',i,o)" *ngFor="let o of options" [value]="o">{{o}}</mat-option>
            </mat-select>
          </mat-form-field> 
     </td>

      <td class="collection-item">
          <mat-form-field>
              <mat-select [(value)]="item.B">
                <mat-option (click)="click('B',i,o)" *ngFor="let o of options" [value]="o">{{o}}</mat-option>
              </mat-select>
            </mat-form-field>
      </td>
      <td class="collection-item">
          <mat-form-field>
              <mat-select [(value)]="item.C">
                <mat-option (click)="click('C',i,o)" *ngFor="let o of options" [value]="o">{{o}}</mat-option>
              </mat-select>
            </mat-form-field>
      </td>
      <td class="collection-item">
          <mat-form-field>
              <mat-select [(value)]="item.D">
                <mat-option (click)="click('D',i,o)" *ngFor="let o of options" [value]="o">{{o}}</mat-option>
              </mat-select>
            </mat-form-field>
      </td>
      
      <td class="collection-item">
          <mat-form-field>
              <mat-select [(value)]="item.E">
                <mat-option (click)="click('E',i,o)" *ngFor="let o of options" [value]="o">{{o}}</mat-option>
              </mat-select>
            </mat-form-field>
      </td>
      <td class="collection-item">
          <mat-form-field>
              <mat-select [(value)]="item.F">
                <mat-option (click)="click('F',i,o)" *ngFor="let o of options" [value]="o">{{o}}</mat-option>
              </mat-select>
            </mat-form-field>
      </td>
      <td class="collection-item">
          <mat-form-field>
              <mat-select [(value)]="item.G">
                <mat-option (click)="click('G',i,o)" *ngFor="let o of options" [value]="o">{{o}}</mat-option>
              </mat-select>
            </mat-form-field>
      </td>
      <td class="collection-item">
          <mat-form-field>
              <mat-select [(value)]="item.H">
                <mat-option (click)="click('H',i,o)" *ngFor="let o of options" [value]="o">{{o}}</mat-option>
              </mat-select>
            </mat-form-field>
      </td>
    
    </tr>

  </table>

</body>

</html>